@inherits RazorEngineCore.RazorEngineTemplateBase<TemplateContext<Presentation>>

@{
    Presentation contextObject = Model.Object;
    var slideIndicies = Model.Global.ContainsKey("slideIndicies") ? Model.Global.Get<int[]>("slideIndicies") : null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="styles\pres.css" />
        <link rel="stylesheet" type="text/css" href="styles\master.css" />
    </head>
   <body>
       <br />
        @if (slideIndicies == null)
        {
            int i = 0;
            slideIndicies = new int[contextObject.Slides.Count];
            foreach(Slide slide in contextObject.Slides)
            {
                slideIndicies[i++] = slide.SlideNumber;
            }
        }
        @foreach (int sId in slideIndicies)
        {
            Slide slide = (Slide)contextObject.Slides[sId-1];
            if (slide.Hidden)
            {
                continue;
            }

            var slidePage =  Model.Global.Get<string>("slide" + sId + "path");
            var thumbnailSource = "images\\thumbnail" + slide.SlideNumber + ".png";

            if (Model.Global.Get<bool>("embedImages"))
            {
                using (var ms = new System.IO.MemoryStream())
                {
                    var slideThumbnail = slide.GetImage();
                    
                    thumbnailSource = "data:image/png;base64, " + Convert.ToBase64String(ms.ToArray());
                }
            }

            <a href = "@slidePage" target = "slide_page" class="thumbnail"><img src="@thumbnailSource"/></a>
            <br />
            <br />
        }
   </body>

</html>