

body, html {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #e6e6e6;
}

.bg {
        
        
        
        
}
.date{
    position: absolute;
    left: 7.5in;
    margin: 0.3em -5.5em;
    font-family: sans-serif;
    z-index: 1;
}
.slidenumber {
    position: absolute;
    font-family: sans-serif;
    top: 299px;
    margin-top: 0.3em;
}
.slideframe 
{
    position: relative;
    box-shadow: black 0px 0px 1px 1px;

            border: 2px solid black;
            margin: 327px 92px; width: 529px; height: 299px;
}
.slide {
    width: 964.75px;
    height: 545px;
    outline: 1px solid #c6c6c6;
    overflow: hidden;
    margin: 10px;
    position: relative;
    
    
}

.page {
    width: 7.5in;
    height: 10in;
    position: relative;
    display: flex;
    border: 1px solid gray;
    background: white;
    margin: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;

            flex-direction: column;
        }

.comments {
    /*padding: 2em;*/
    font-family: sans-serif;
}
.comments-header {
    border-bottom: 1px solid black;
    margin: 1em;
    font-size: 1.5em;
    padding: 0.3em;
}
.comment {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}
.comment-child {

            margin-left: 3em;
        }
.comment-avatar {
    margin-left: 5px;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
.comment-content {
    margin-left: 5px;
}
.comment-text {
}
.comment-origin {
    color: gray;
    font-size: 0.9em;
}
.comment-mark {
    font-size: 1em;
    position: absolute;
    font-family: sans-serif;
    border: 1px solid black;
    display: inline;
    background-color: aliceblue;
    padding: 2px;
}


.navigationArea {
    float: left; 
    width: 240px; 
    height: 100%; 
    overflow-y: auto;
}

.navigationAreaBorder {
    border-right: solid #777777 1px;
}

.navigationSelected {
    background: #d24726;
}

.slideThumb {
    margin: 10px; 
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 1px;
    cursor: pointer;
}

.slide-content {
    
}

.shape {
    position: absolute;
}

.table {
    position: absolute;
    border-collapse: collapse;
}

.paragraph {
    position: absolute;
}

.pictureframe {
    position: absolute;
}

.thumbnail {
    margin: 10px;
    margin-top: 10px;
}
  
.navigationButton {
    position: absolute;
    width: 100px;
    height: 50px;
    border: solid black 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: none;
    cursor: pointer;
}

#svgdiv, #svgdivpaths {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -100;
}