@inherits RazorEngineCore.RazorEngineTemplateBase<TemplateContext<TextFrame>>

@{
    TextFrame contextObject = Model.Object;
    var textFrameFormatEffective = (contextObject != null) ? contextObject.TextFrameFormat.GetEffective() : null;

    var origin = Model.Local.Get<Point>("origin");
    var parentAutoShape = Model.Local.Get<AutoShape>("parent");
    var slide = parentAutoShape.Slide as ISlide;
    var paragraphAnimationData = (contextObject != null && slide != null)
        ? SlideHelper.GetSlidesParagraphAnimationCollection(slide)
        : new Dictionary<IParagraph, Tuple<string, string, float, float, string, string, int>>();
}

@functions
{
    string GetTextFrameStyle(TextFrame textFrame)
    {
        string positioningStyle = TextHelper.GetTextPositioningStyle(textFrame, Model.Local.Get<AutoShape>("parent"));
        string columnsParameters = TextHelper.GetTextFrameColumnsStyle(textFrame.TextFrameFormat.GetEffective());

        return string.Join(" ", new string[] {positioningStyle, columnsParameters});
    }
}
@if (contextObject != null)
{
<div class="textframe" style="@GetTextFrameStyle(contextObject)">
    @for(int i = 0; i < contextObject.Paragraphs.Count; i++)
    {
        var para = contextObject.Paragraphs[i];
        var subModel = Model.SubModel((Paragraph)para);

        subModel.Local.Put("parent", contextObject);
        subModel.Local.Put("parentContainerSize", new SizeF(parentAutoShape.Width, parentAutoShape.Height));
        subModel.Local.Put("tableContent", false);
        subModel.Local.Put("isFirst", i == 0);
        subModel.Local.Put("isLast", i == (contextObject.Paragraphs.Count - 1));

        if (paragraphAnimationData.ContainsKey(para))
        {
            var paragraphAnimation = paragraphAnimationData[para];
            string animationAttributes = "";

            animationAttributes += "data-animation-type=\"" + paragraphAnimation.Item1 + "\" ";
            animationAttributes += "data-animation-subtype=\"" + paragraphAnimation.Item2 + "\" ";
            animationAttributes += "data-animation-duration=\"" + NumberHelper.ToCssNumber(paragraphAnimation.Item3) + "\" ";
            animationAttributes += "data-animation-delay=\"" + NumberHelper.ToCssNumber(paragraphAnimation.Item4) + "\" ";
            animationAttributes += "data-animation-clickTarget=\"" + paragraphAnimation.Item5 + "\" ";
            animationAttributes += "data-animation-extra=\"" + paragraphAnimation.Item6 + "\" ";
            animationAttributes += "data-animation-index=\"" + paragraphAnimation.Item7 + "\" ";

            string animationId = "slide-" + slide.SlideId + "-shape-" + parentAutoShape.UniqueId + "-paragraph-" + i;
            subModel.Local.Put("animationAttributes", animationAttributes);
            subModel.Local.Put("animationId", animationId);
        }

        @Raw(TextHelper.CleanSpanSpace(@Include("paragraph", subModel).ToString()));
    }
</div>
}
